RHSStringTableTools.Test/bin/Debug/nunit.framework.dll
RHSStringTableTools.Test/bin/Debug/nunit.framework.xml
RHSStringTableTools.Test/bin/Debug/RHSStringTableTools.dll
RHSStringTableTools.Test/bin/Debug/RHSStringTableTools.pdb
RHSStringTableTools.Test/bin/Debug/RHSStringTableTools.Test.dll
RHSStringTableTools.Test/bin/Debug/RHSStringTableTools.Test.pdb
RHSStringTableTools.Test/bin/Debug/testdata/folder1/Stringtable.csv
RHSStringTableTools.Test/bin/Debug/testdata/folder2/Stringtable.csv
RHSStringTableTools.Test/bin/Debug/testoutput/Stringtable.xml
RHSStringTableTools.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RHSStringTableTools.Test/obj/Debug/RHSStringTableTools.Test.csproj.FileListAbsolute.txt
RHSStringTableTools.Test/obj/Debug/RHSStringTableTools.Test.csprojResolveAssemblyReference.cache
RHSStringTableTools.Test/obj/Debug/RHSStringTableTools.Test.dll
RHSStringTableTools.Test/obj/Debug/RHSStringTableTools.Test.pdb
RHSStringTableTools.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RHSStringTableTools.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RHSStringTableTools.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RHSStringTableTools/bin/Debug/RHSStringTableTools.dll
RHSStringTableTools/bin/Debug/RHSStringTableTools.pdb
RHSStringTableTools/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RHSStringTableTools/obj/Debug/RHSStringTableTools.csproj.FileListAbsolute.txt
RHSStringTableTools/obj/Debug/RHSStringTableTools.dll
RHSStringTableTools/obj/Debug/RHSStringTableTools.pdb
RHSStringTableTools/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RHSStringTableTools/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RHSStringTableTools/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StringForge/bin/Debug/de/Xceed.Wpf.AvalonDock.resources.dll
StringForge/bin/Debug/es/Xceed.Wpf.AvalonDock.resources.dll
StringForge/bin/Debug/fr/Xceed.Wpf.AvalonDock.resources.dll
StringForge/bin/Debug/hu/Xceed.Wpf.AvalonDock.resources.dll
StringForge/bin/Debug/it/Xceed.Wpf.AvalonDock.resources.dll
StringForge/bin/Debug/logs/2015-02-07.log
StringForge/bin/Debug/logs/2015-02-08.log
StringForge/bin/Debug/Microsoft.WindowsAPICodePack.dll
StringForge/bin/Debug/Microsoft.WindowsAPICodePack.Shell.dll
StringForge/bin/Debug/Microsoft.WindowsAPICodePack.Shell.xml
StringForge/bin/Debug/Microsoft.WindowsAPICodePack.ShellExtensions.dll
StringForge/bin/Debug/Microsoft.WindowsAPICodePack.ShellExtensions.xml
StringForge/bin/Debug/Microsoft.WindowsAPICodePack.xml
StringForge/bin/Debug/NLog.config
StringForge/bin/Debug/NLog.dll
StringForge/bin/Debug/NLog.xml
StringForge/bin/Debug/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
StringForge/bin/Debug/ReactiveUI.dll
StringForge/bin/Debug/ReactiveUI.xml
StringForge/bin/Debug/RHSDocGen.vshost.exe.config
StringForge/bin/Debug/RHSStringTableTools.dll
StringForge/bin/Debug/RHSStringTableTools.pdb
StringForge/bin/Debug/ro/Xceed.Wpf.AvalonDock.resources.dll
StringForge/bin/Debug/ru/Xceed.Wpf.AvalonDock.resources.dll
StringForge/bin/Debug/Splat.dll
StringForge/bin/Debug/Splat.pdb
StringForge/bin/Debug/StringForge.exe
StringForge/bin/Debug/StringForge.exe.config
StringForge/bin/Debug/StringForge.pdb
StringForge/bin/Debug/StringForge.vshost.exe
StringForge/bin/Debug/StringForge.vshost.exe.config
StringForge/bin/Debug/sv/Xceed.Wpf.AvalonDock.resources.dll
StringForge/bin/Debug/System.Reactive.Core.dll
StringForge/bin/Debug/System.Reactive.Core.xml
StringForge/bin/Debug/System.Reactive.Interfaces.dll
StringForge/bin/Debug/System.Reactive.Interfaces.xml
StringForge/bin/Debug/System.Reactive.Linq.dll
StringForge/bin/Debug/System.Reactive.Linq.xml
StringForge/bin/Debug/System.Reactive.PlatformServices.dll
StringForge/bin/Debug/System.Reactive.PlatformServices.xml
StringForge/bin/Debug/System.Reactive.Windows.Threading.dll
StringForge/bin/Debug/System.Reactive.Windows.Threading.xml
StringForge/bin/Debug/Xceed.Wpf.AvalonDock.dll
StringForge/bin/Debug/Xceed.Wpf.AvalonDock.Themes.Aero.dll
StringForge/bin/Debug/Xceed.Wpf.AvalonDock.Themes.Metro.dll
StringForge/bin/Debug/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
StringForge/bin/Debug/Xceed.Wpf.DataGrid.dll
StringForge/bin/Debug/Xceed.Wpf.Toolkit.dll
StringForge/bin/Debug/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
StringForge/obj/Debug/App.g.cs
StringForge/obj/Debug/App.g.i.cs
StringForge/obj/Debug/DesignTimeResolveAssemblyReferences.cache
StringForge/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StringForge/obj/Debug/GeneratedInternalTypeHelper.g.cs
StringForge/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
StringForge/obj/Debug/MainWindow.g.i.cs
StringForge/obj/Debug/RHSDocGen.csproj.FileListAbsolute.txt
StringForge/obj/Debug/RHSDocGen.csproj.GenerateResource.Cache
StringForge/obj/Debug/RHSDocGen.csprojResolveAssemblyReference.cache
StringForge/obj/Debug/RHSDocGen_Content.g.i.cs
StringForge/obj/Debug/RHSDocGen_MarkupCompile.i.cache
StringForge/obj/Debug/StringForge.csproj.FileListAbsolute.txt
StringForge/obj/Debug/StringForge.csproj.GenerateResource.Cache
StringForge/obj/Debug/StringForge.csprojResolveAssemblyReference.cache
StringForge/obj/Debug/StringForge.exe
StringForge/obj/Debug/StringForge.g.resources
StringForge/obj/Debug/StringForge.pdb
StringForge/obj/Debug/StringForge.Properties.Resources.resources
StringForge/obj/Debug/StringForge_Content.g.cs
StringForge/obj/Debug/StringForge_Content.g.i.cs
StringForge/obj/Debug/StringForge_MarkupCompile.cache
StringForge/obj/Debug/StringForge_MarkupCompile.i.cache
StringForge/obj/Debug/StringForge_MarkupCompile.lref
StringForge/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
StringForge/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StringForge/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StringForge/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
StringForge/obj/Debug/View/StringTableConverterView.baml
StringForge/obj/Debug/View/StringTableConverterView.g.cs
StringForge/obj/Debug/View/StringTableConverterView.g.i.cs
StringForge/obj/Debug/View/StringTableEditor.baml
StringForge/obj/Debug/View/StringTableEditor.g.cs
StringForge/obj/Debug/View/StringTableEditor.g.i.cs
StringForge/packages/Extended.Wpf.Toolkit.2.3/Extended.Wpf.Toolkit.2.3.nupkg
StringForge/packages/Extended.Wpf.Toolkit.2.3/Extended.Wpf.Toolkit.2.3.nuspec
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net35/WPFToolkit.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net35/Xceed.Wpf.Toolkit.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/de/Xceed.Wpf.AvalonDock.resources.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/es/Xceed.Wpf.AvalonDock.resources.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/fr/Xceed.Wpf.AvalonDock.resources.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/hu/Xceed.Wpf.AvalonDock.resources.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/it/Xceed.Wpf.AvalonDock.resources.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/ro/Xceed.Wpf.AvalonDock.resources.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/ru/Xceed.Wpf.AvalonDock.resources.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/sv/Xceed.Wpf.AvalonDock.resources.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/Xceed.Wpf.AvalonDock.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/Xceed.Wpf.AvalonDock.Themes.Aero.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/Xceed.Wpf.AvalonDock.Themes.Metro.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/Xceed.Wpf.DataGrid.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/Xceed.Wpf.Toolkit.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/lib/net40/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
StringForge/packages/Extended.Wpf.Toolkit.2.3/tools/install.ps1
StringForge/packages/NLog.3.2.0.0/lib/net35/NLog.dll
StringForge/packages/NLog.3.2.0.0/lib/net35/NLog.xml
StringForge/packages/NLog.3.2.0.0/lib/net40/NLog.dll
StringForge/packages/NLog.3.2.0.0/lib/net40/NLog.xml
StringForge/packages/NLog.3.2.0.0/lib/net45/NLog.dll
StringForge/packages/NLog.3.2.0.0/lib/net45/NLog.xml
StringForge/packages/NLog.3.2.0.0/lib/sl4/NLog.dll
StringForge/packages/NLog.3.2.0.0/lib/sl4/NLog.xml
StringForge/packages/NLog.3.2.0.0/lib/sl5/NLog.dll
StringForge/packages/NLog.3.2.0.0/lib/sl5/NLog.xml
StringForge/packages/NLog.3.2.0.0/NLog.3.2.0.0.nupkg
StringForge/packages/NLog.Config.3.2.0.0/content/NLog.config
StringForge/packages/NLog.Config.3.2.0.0/NLog.Config.3.2.0.0.nupkg
StringForge/packages/NLog.Config.3.2.0.0/tools/Install.ps1
StringForge/packages/NLog.Schema.3.2.0.0/content/NLog.xsd
StringForge/packages/NLog.Schema.3.2.0.0/NLog.Schema.3.2.0.0.nupkg
StringForge/packages/NUnit.2.6.4/lib/nunit.framework.dll
StringForge/packages/NUnit.2.6.4/lib/nunit.framework.xml
StringForge/packages/NUnit.2.6.4/license.txt
StringForge/packages/NUnit.2.6.4/NUnit.2.6.4.nupkg
StringForge/packages/reactiveui.6.3.1/reactiveui.6.3.1.nupkg
StringForge/packages/reactiveui.6.3.1/reactiveui.6.3.1.nuspec
StringForge/packages/reactiveui-core.6.3.1/lib/MonoAndroid/ReactiveUI.dll
StringForge/packages/reactiveui-core.6.3.1/lib/MonoAndroid/ReactiveUI.dll.mdb
StringForge/packages/reactiveui-core.6.3.1/lib/MonoAndroid/ReactiveUI.xml
StringForge/packages/reactiveui-core.6.3.1/lib/MonoMac/ReactiveUI.dll
StringForge/packages/reactiveui-core.6.3.1/lib/MonoMac/ReactiveUI.dll.mdb
StringForge/packages/reactiveui-core.6.3.1/lib/MonoMac/ReactiveUI.xml
StringForge/packages/reactiveui-core.6.3.1/lib/Monotouch/ReactiveUI.dll
StringForge/packages/reactiveui-core.6.3.1/lib/Monotouch/ReactiveUI.dll.mdb
StringForge/packages/reactiveui-core.6.3.1/lib/Monotouch/ReactiveUI.xml
StringForge/packages/reactiveui-core.6.3.1/lib/Net45/ReactiveUI.dll
StringForge/packages/reactiveui-core.6.3.1/lib/Net45/ReactiveUI.xml
StringForge/packages/reactiveui-core.6.3.1/lib/Portable-Net45+Win8+WP8+WPA81/ReactiveUI.dll
StringForge/packages/reactiveui-core.6.3.1/lib/Portable-Net45+Win8+WP8+WPA81/ReactiveUI.XML
StringForge/packages/reactiveui-core.6.3.1/lib/Portable-Win81+WPA81/ReactiveUI.dll
StringForge/packages/reactiveui-core.6.3.1/lib/Portable-Win81+WPA81/ReactiveUI.pri
StringForge/packages/reactiveui-core.6.3.1/lib/Portable-Win81+WPA81/ReactiveUI.xml
StringForge/packages/reactiveui-core.6.3.1/lib/Portable-Win81+WPA81/ReactiveUI/ReactiveUI.xr.xml
StringForge/packages/reactiveui-core.6.3.1/lib/Portable-Win81+WPA81/ReactiveUI/Themes/generic-winrt.xbf
StringForge/packages/reactiveui-core.6.3.1/lib/Win8/ReactiveUI.dll
StringForge/packages/reactiveui-core.6.3.1/lib/Win8/ReactiveUI.pri
StringForge/packages/reactiveui-core.6.3.1/lib/Win8/ReactiveUI.xml
StringForge/packages/reactiveui-core.6.3.1/lib/Win8/ReactiveUI/Themes/generic-winrt.xaml
StringForge/packages/reactiveui-core.6.3.1/lib/WP8/ReactiveUI.dll
StringForge/packages/reactiveui-core.6.3.1/lib/WP8/ReactiveUI.xml
StringForge/packages/reactiveui-core.6.3.1/lib/Xamarin.iOS10/ReactiveUI.dll
StringForge/packages/reactiveui-core.6.3.1/lib/Xamarin.iOS10/ReactiveUI.dll.mdb
StringForge/packages/reactiveui-core.6.3.1/lib/Xamarin.iOS10/ReactiveUI.xml
StringForge/packages/reactiveui-core.6.3.1/reactiveui-core.6.3.1.nupkg
StringForge/packages/reactiveui-core.6.3.1/reactiveui-core.6.3.1.nuspec
StringForge/packages/repositories.config
StringForge/packages/Rx-Core.2.2.5/lib/net40/System.Reactive.Core.dll
StringForge/packages/Rx-Core.2.2.5/lib/net40/System.Reactive.Core.XML
StringForge/packages/Rx-Core.2.2.5/lib/net45/System.Reactive.Core.dll
StringForge/packages/Rx-Core.2.2.5/lib/net45/System.Reactive.Core.XML
StringForge/packages/Rx-Core.2.2.5/lib/portable-net40+sl5+win8+wp8/System.Reactive.Core.dll
StringForge/packages/Rx-Core.2.2.5/lib/portable-net40+sl5+win8+wp8/System.Reactive.Core.XML
StringForge/packages/Rx-Core.2.2.5/lib/portable-net45+winrt45+wp8+wpa81/System.Reactive.Core.dll
StringForge/packages/Rx-Core.2.2.5/lib/portable-net45+winrt45+wp8+wpa81/System.Reactive.Core.XML
StringForge/packages/Rx-Core.2.2.5/lib/portable-win81+wpa81/System.Reactive.Core.dll
StringForge/packages/Rx-Core.2.2.5/lib/portable-win81+wpa81/System.Reactive.Core.XML
StringForge/packages/Rx-Core.2.2.5/lib/portable-windows8+net45+wp8/System.Reactive.Core.dll
StringForge/packages/Rx-Core.2.2.5/lib/portable-windows8+net45+wp8/System.Reactive.Core.XML
StringForge/packages/Rx-Core.2.2.5/lib/sl5/System.Reactive.Core.dll
StringForge/packages/Rx-Core.2.2.5/lib/sl5/System.Reactive.Core.XML
StringForge/packages/Rx-Core.2.2.5/lib/windows8/System.Reactive.Core.dll
StringForge/packages/Rx-Core.2.2.5/lib/windows8/System.Reactive.Core.XML
StringForge/packages/Rx-Core.2.2.5/lib/windowsphone71/System.Reactive.Core.dll
StringForge/packages/Rx-Core.2.2.5/lib/windowsphone71/System.Reactive.Core.XML
StringForge/packages/Rx-Core.2.2.5/lib/windowsphone8/System.Reactive.Core.dll
StringForge/packages/Rx-Core.2.2.5/lib/windowsphone8/System.Reactive.Core.XML
StringForge/packages/Rx-Core.2.2.5/Rx-Core.2.2.5.nupkg
StringForge/packages/Rx-Core.2.2.5/Rx-Core.2.2.5.nuspec
StringForge/packages/Rx-Interfaces.2.2.5/lib/net40/System.Reactive.Interfaces.dll
StringForge/packages/Rx-Interfaces.2.2.5/lib/net40/System.Reactive.Interfaces.XML
StringForge/packages/Rx-Interfaces.2.2.5/lib/net45/System.Reactive.Interfaces.dll
StringForge/packages/Rx-Interfaces.2.2.5/lib/net45/System.Reactive.Interfaces.XML
StringForge/packages/Rx-Interfaces.2.2.5/lib/portable-net40+sl5+win8+wp8/System.Reactive.Interfaces.dll
StringForge/packages/Rx-Interfaces.2.2.5/lib/portable-net40+sl5+win8+wp8/System.Reactive.Interfaces.XML
StringForge/packages/Rx-Interfaces.2.2.5/lib/portable-net45+winrt45+wp8+wpa81/System.Reactive.Interfaces.dll
StringForge/packages/Rx-Interfaces.2.2.5/lib/portable-net45+winrt45+wp8+wpa81/System.Reactive.Interfaces.XML
StringForge/packages/Rx-Interfaces.2.2.5/lib/portable-win81+wpa81/System.Reactive.Interfaces.dll
StringForge/packages/Rx-Interfaces.2.2.5/lib/portable-win81+wpa81/System.Reactive.Interfaces.XML
StringForge/packages/Rx-Interfaces.2.2.5/lib/portable-windows8+net45+wp8/System.Reactive.Interfaces.dll
StringForge/packages/Rx-Interfaces.2.2.5/lib/portable-windows8+net45+wp8/System.Reactive.Interfaces.XML
StringForge/packages/Rx-Interfaces.2.2.5/lib/sl5/System.Reactive.Interfaces.dll
StringForge/packages/Rx-Interfaces.2.2.5/lib/sl5/System.Reactive.Interfaces.XML
StringForge/packages/Rx-Interfaces.2.2.5/lib/windows8/System.Reactive.Interfaces.dll
StringForge/packages/Rx-Interfaces.2.2.5/lib/windows8/System.Reactive.Interfaces.XML
StringForge/packages/Rx-Interfaces.2.2.5/lib/windowsphone71/System.Reactive.Interfaces.dll
StringForge/packages/Rx-Interfaces.2.2.5/lib/windowsphone71/System.Reactive.Interfaces.XML
StringForge/packages/Rx-Interfaces.2.2.5/lib/windowsphone8/System.Reactive.Interfaces.dll
StringForge/packages/Rx-Interfaces.2.2.5/lib/windowsphone8/System.Reactive.Interfaces.XML
StringForge/packages/Rx-Interfaces.2.2.5/Rx-Interfaces.2.2.5.nupkg
StringForge/packages/Rx-Interfaces.2.2.5/Rx-Interfaces.2.2.5.nuspec
StringForge/packages/Rx-Linq.2.2.5/lib/net40/System.Reactive.Linq.dll
StringForge/packages/Rx-Linq.2.2.5/lib/net40/System.Reactive.Linq.XML
StringForge/packages/Rx-Linq.2.2.5/lib/net45/System.Reactive.Linq.dll
StringForge/packages/Rx-Linq.2.2.5/lib/net45/System.Reactive.Linq.XML
StringForge/packages/Rx-Linq.2.2.5/lib/portable-net40+sl5+win8+wp8/System.Reactive.Linq.dll
StringForge/packages/Rx-Linq.2.2.5/lib/portable-net40+sl5+win8+wp8/System.Reactive.Linq.XML
StringForge/packages/Rx-Linq.2.2.5/lib/portable-net45+winrt45+wp8+wpa81/System.Reactive.Linq.dll
StringForge/packages/Rx-Linq.2.2.5/lib/portable-net45+winrt45+wp8+wpa81/System.Reactive.Linq.XML
StringForge/packages/Rx-Linq.2.2.5/lib/portable-win81+wpa81/System.Reactive.Linq.dll
StringForge/packages/Rx-Linq.2.2.5/lib/portable-win81+wpa81/System.Reactive.Linq.XML
StringForge/packages/Rx-Linq.2.2.5/lib/portable-windows8+net45+wp8/System.Reactive.Linq.dll
StringForge/packages/Rx-Linq.2.2.5/lib/portable-windows8+net45+wp8/System.Reactive.Linq.XML
StringForge/packages/Rx-Linq.2.2.5/lib/sl5/System.Reactive.Linq.dll
StringForge/packages/Rx-Linq.2.2.5/lib/sl5/System.Reactive.Linq.XML
StringForge/packages/Rx-Linq.2.2.5/lib/windows8/System.Reactive.Linq.dll
StringForge/packages/Rx-Linq.2.2.5/lib/windows8/System.Reactive.Linq.XML
StringForge/packages/Rx-Linq.2.2.5/lib/windowsphone71/System.Reactive.Linq.dll
StringForge/packages/Rx-Linq.2.2.5/lib/windowsphone71/System.Reactive.Linq.XML
StringForge/packages/Rx-Linq.2.2.5/lib/windowsphone8/System.Reactive.Linq.dll
StringForge/packages/Rx-Linq.2.2.5/lib/windowsphone8/System.Reactive.Linq.XML
StringForge/packages/Rx-Linq.2.2.5/Rx-Linq.2.2.5.nupkg
StringForge/packages/Rx-Linq.2.2.5/Rx-Linq.2.2.5.nuspec
StringForge/packages/Rx-Main.2.2.5/Rx-Main.2.2.5.nupkg
StringForge/packages/Rx-Main.2.2.5/Rx-Main.2.2.5.nuspec
StringForge/packages/Rx-PlatformServices.2.2.5/lib/net40/System.Reactive.PlatformServices.dll
StringForge/packages/Rx-PlatformServices.2.2.5/lib/net40/System.Reactive.PlatformServices.XML
StringForge/packages/Rx-PlatformServices.2.2.5/lib/net45/System.Reactive.PlatformServices.dll
StringForge/packages/Rx-PlatformServices.2.2.5/lib/net45/System.Reactive.PlatformServices.XML
StringForge/packages/Rx-PlatformServices.2.2.5/lib/portable-net40+sl5+win8+wp8/System.Reactive.PlatformServices.dll
StringForge/packages/Rx-PlatformServices.2.2.5/lib/portable-net40+sl5+win8+wp8/System.Reactive.PlatformServices.XML
StringForge/packages/Rx-PlatformServices.2.2.5/lib/portable-net45+winrt45+wp8+wpa81/System.Reactive.PlatformServices.dll
StringForge/packages/Rx-PlatformServices.2.2.5/lib/portable-net45+winrt45+wp8+wpa81/System.Reactive.PlatformServices.XML
StringForge/packages/Rx-PlatformServices.2.2.5/lib/portable-win81+wpa81/System.Reactive.PlatformServices.dll
StringForge/packages/Rx-PlatformServices.2.2.5/lib/portable-win81+wpa81/System.Reactive.PlatformServices.XML
StringForge/packages/Rx-PlatformServices.2.2.5/lib/portable-windows8+net45+wp8/System.Reactive.PlatformServices.dll
StringForge/packages/Rx-PlatformServices.2.2.5/lib/portable-windows8+net45+wp8/System.Reactive.PlatformServices.XML
StringForge/packages/Rx-PlatformServices.2.2.5/lib/sl5/System.Reactive.PlatformServices.dll
StringForge/packages/Rx-PlatformServices.2.2.5/lib/sl5/System.Reactive.PlatformServices.XML
StringForge/packages/Rx-PlatformServices.2.2.5/lib/windows8/System.Reactive.PlatformServices.dll
StringForge/packages/Rx-PlatformServices.2.2.5/lib/windows8/System.Reactive.PlatformServices.XML
StringForge/packages/Rx-PlatformServices.2.2.5/lib/windowsphone71/System.Reactive.PlatformServices.dll
StringForge/packages/Rx-PlatformServices.2.2.5/lib/windowsphone71/System.Reactive.PlatformServices.XML
StringForge/packages/Rx-PlatformServices.2.2.5/lib/windowsphone8/System.Reactive.PlatformServices.dll
StringForge/packages/Rx-PlatformServices.2.2.5/lib/windowsphone8/System.Reactive.PlatformServices.XML
StringForge/packages/Rx-PlatformServices.2.2.5/Rx-PlatformServices.2.2.5.nupkg
StringForge/packages/Rx-PlatformServices.2.2.5/Rx-PlatformServices.2.2.5.nuspec
StringForge/packages/Rx-Xaml.2.2.5/lib/net40/System.Reactive.Windows.Threading.dll
StringForge/packages/Rx-Xaml.2.2.5/lib/net40/System.Reactive.Windows.Threading.XML
StringForge/packages/Rx-Xaml.2.2.5/lib/net45/System.Reactive.Windows.Threading.dll
StringForge/packages/Rx-Xaml.2.2.5/lib/net45/System.Reactive.Windows.Threading.XML
StringForge/packages/Rx-Xaml.2.2.5/lib/portable-win81+wpa81/System.Reactive.Windows.Threading.dll
StringForge/packages/Rx-Xaml.2.2.5/lib/portable-win81+wpa81/System.Reactive.Windows.Threading.XML
StringForge/packages/Rx-Xaml.2.2.5/lib/sl5/System.Reactive.Windows.Threading.dll
StringForge/packages/Rx-Xaml.2.2.5/lib/sl5/System.Reactive.Windows.Threading.XML
StringForge/packages/Rx-Xaml.2.2.5/lib/windows8/System.Reactive.Windows.Threading.dll
StringForge/packages/Rx-Xaml.2.2.5/lib/windows8/System.Reactive.Windows.Threading.XML
StringForge/packages/Rx-Xaml.2.2.5/lib/windowsphone71/System.Reactive.Windows.Threading.dll
StringForge/packages/Rx-Xaml.2.2.5/lib/windowsphone71/System.Reactive.Windows.Threading.XML
StringForge/packages/Rx-Xaml.2.2.5/lib/windowsphone8/System.Reactive.Windows.Threading.dll
StringForge/packages/Rx-Xaml.2.2.5/lib/windowsphone8/System.Reactive.Windows.Threading.XML
StringForge/packages/Rx-Xaml.2.2.5/Rx-Xaml.2.2.5.nupkg
StringForge/packages/Rx-Xaml.2.2.5/Rx-Xaml.2.2.5.nuspec
StringForge/packages/Splat.1.6.0/lib/monoandroid/Splat.dll
StringForge/packages/Splat.1.6.0/lib/monoandroid/Splat.dll.mdb
StringForge/packages/Splat.1.6.0/lib/MonoMac/Splat.dll
StringForge/packages/Splat.1.6.0/lib/MonoMac/Splat.dll.mdb
StringForge/packages/Splat.1.6.0/lib/monotouch/Splat.dll
StringForge/packages/Splat.1.6.0/lib/monotouch/Splat.dll.mdb
StringForge/packages/Splat.1.6.0/lib/Net45/Splat.dll
StringForge/packages/Splat.1.6.0/lib/Net45/Splat.pdb
StringForge/packages/Splat.1.6.0/lib/NetCore45/Splat.dll
StringForge/packages/Splat.1.6.0/lib/NetCore45/Splat.pdb
StringForge/packages/Splat.1.6.0/lib/NetCore45/Splat.pri
StringForge/packages/Splat.1.6.0/lib/Portable-net45+win+wpa81+wp80/Splat.dll
StringForge/packages/Splat.1.6.0/lib/Portable-Win81+Wpa81/Splat.dll
StringForge/packages/Splat.1.6.0/lib/Portable-Win81+Wpa81/Splat.pdb
StringForge/packages/Splat.1.6.0/lib/Portable-Win81+Wpa81/Splat.pri
StringForge/packages/Splat.1.6.0/lib/wp8/Splat.dll
StringForge/packages/Splat.1.6.0/lib/wp8/Splat.pdb
StringForge/packages/Splat.1.6.0/lib/Xamarin.iOS10/Splat.dll
StringForge/packages/Splat.1.6.0/lib/Xamarin.iOS10/Splat.dll.mdb
StringForge/packages/Splat.1.6.0/lib/Xamarin.Mac10/Splat.dll
StringForge/packages/Splat.1.6.0/lib/Xamarin.Mac10/Splat.dll.mdb
StringForge/packages/Splat.1.6.0/lib/Xamarin.Mac10/Splat-XamarinMac.csproj.FilesWrittenAbsolute.txt
StringForge/packages/Splat.1.6.0/Splat.1.6.0.nupkg
StringForge/packages/Splat.1.6.0/Splat.1.6.0.nuspec
StringForge/packages/Windows7APICodePack.1.0.0.0/lib/Microsoft.WindowsAPICodePack.dll
StringForge/packages/Windows7APICodePack.1.0.0.0/lib/Microsoft.WindowsAPICodePack.pdb
StringForge/packages/Windows7APICodePack.1.0.0.0/lib/Microsoft.WindowsAPICodePack.XML
StringForge/packages/Windows7APICodePack.1.0.0.0/Windows7APICodePack.1.0.0.0.nupkg
StringForge/packages/Windows7APICodePack.1.0.0.0/Windows7APICodePack.1.0.0.0.nuspec
StringForge/packages/WindowsAPICodePack-Core.1.1.1/lib/Microsoft.WindowsAPICodePack.dll
StringForge/packages/WindowsAPICodePack-Core.1.1.1/lib/Microsoft.WindowsAPICodePack.xml
StringForge/packages/WindowsAPICodePack-Core.1.1.1/WindowsAPICodePack-Core.1.1.1.nupkg
StringForge/packages/WindowsAPICodePack-Core.1.1.1/WindowsAPICodePack-Core.1.1.1.nuspec
StringForge/packages/WindowsAPICodePack-Shell.1.1.1/lib/Microsoft.WindowsAPICodePack.Shell.dll
StringForge/packages/WindowsAPICodePack-Shell.1.1.1/lib/Microsoft.WindowsAPICodePack.Shell.xml
StringForge/packages/WindowsAPICodePack-Shell.1.1.1/WindowsAPICodePack-Shell.1.1.1.nupkg
StringForge/packages/WindowsAPICodePack-Shell.1.1.1/WindowsAPICodePack-Shell.1.1.1.nuspec
StringForge/packages/WindowsAPICodePack-ShellExtensions.1.1.1/lib/Microsoft.WindowsAPICodePack.ShellExtensions.dll
StringForge/packages/WindowsAPICodePack-ShellExtensions.1.1.1/lib/Microsoft.WindowsAPICodePack.ShellExtensions.xml
StringForge/packages/WindowsAPICodePack-ShellExtensions.1.1.1/WindowsAPICodePack-ShellExtensions.1.1.1.nupkg
StringForge/packages/WindowsAPICodePack-ShellExtensions.1.1.1/WindowsAPICodePack-ShellExtensions.1.1.1.nuspec
RHSStringTableTools.Test/bin/Debug/testoutput/save/Stringtable.xml
RHSStringTableTools.Test/obj/Debug/build.force
RHSStringTableTools.Test/obj/Debug/build.force
RHSStringTableTools.Test/obj/Debug/build.force
RHSStringTableTools/obj/Debug/RHSStringTableTools.csprojResolveAssemblyReference.cache
RHSStringTableTools.Test/bin/Debug/xmltestdata/addons/folder1/Stringtable.xml
RHSStringTableTools.Test/bin/Debug/xmltestdata/addons/folder2/Stringtable.xml
RHSStringTableTools.Test/bin/Debug/xmltestdata/addons/folder2/subfolder2/Stringtable.xml
StringForge/obj/Debug/StringForge_MarkupCompile.i.lref
RHSStringTableTools.Test/bin/Debug/xmltestdata/addons/folder2/Stringtable2.xml
StringForge/obj/Debug/View/AboutView.baml
StringForge/obj/Debug/View/AboutView.g.cs
StringForge/obj/Debug/View/AboutView.g.i.cs
StringForge/obj/Debug/View/ContainerEditView.baml
StringForge/obj/Debug/View/ContainerEditView.g.cs
StringForge/obj/Debug/View/ContainerEditView.g.i.cs
StringForge/obj/Debug/View/KeyEditView.baml
StringForge/obj/Debug/View/KeyEditView.g.cs
StringForge/obj/Debug/View/KeyEditView.g.i.cs
StringForge/obj/Debug/View/PackageEditView.baml
StringForge/obj/Debug/View/PackageEditView.g.cs
StringForge/obj/Debug/View/PackageEditView.g.i.cs
RHSStringTableTools/bin/Debug/ReactiveUI.dll
RHSStringTableTools/bin/Debug/ReactiveUI.xml
RHSStringTableTools/bin/Debug/Splat.dll
RHSStringTableTools/bin/Debug/Splat.pdb
StringForge/obj/Debug/View/ProjectEditView.baml
StringForge/obj/Debug/View/ProjectEditView.g.cs
StringForge/obj/Debug/View/ProjectEditView.g.i.cs
StringForge/packages/gong-wpf-dragdrop.0.1.4.3/gong-wpf-dragdrop.0.1.4.3.nupkg
StringForge/packages/gong-wpf-dragdrop.0.1.4.3/gong-wpf-dragdrop.0.1.4.3.nuspec
StringForge/packages/gong-wpf-dragdrop.0.1.4.3/lib/net35/GongSolutions.Wpf.DragDrop.dll
StringForge/packages/gong-wpf-dragdrop.0.1.4.3/lib/net35/GongSolutions.Wpf.DragDrop.pdb
StringForge/packages/gong-wpf-dragdrop.0.1.4.3/lib/net35/GongSolutions.Wpf.DragDrop.xml
StringForge/packages/gong-wpf-dragdrop.0.1.4.3/lib/net40/GongSolutions.Wpf.DragDrop.dll
StringForge/packages/gong-wpf-dragdrop.0.1.4.3/lib/net40/GongSolutions.Wpf.DragDrop.pdb
StringForge/packages/gong-wpf-dragdrop.0.1.4.3/lib/net40/GongSolutions.Wpf.DragDrop.xml
StringForge/bin/Debug/GongSolutions.Wpf.DragDrop.dll
StringForge/bin/Debug/GongSolutions.Wpf.DragDrop.pdb
StringForge/bin/Debug/GongSolutions.Wpf.DragDrop.xml
RHSStringTableTools/bin/Debug/System.Reactive.Core.dll
RHSStringTableTools/bin/Debug/System.Reactive.Core.xml
